@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-gray {
    -webkit-text-stroke: 1px #23262b;
  }
}

@font-face {
  font-family: 'GotFont';
  src:
    url('/assets/fonts/GotFont.woff2') format('woff2'),
    url('/assets/fonts/GotFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'GotFont', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Cormorant SC', sans-serif;
}

p, span, a {
  font-family: 'Cormorant SC', sans-serif;
  font-weight: 500;
}

body {
  background-color: #141719;
}

html:root::-webkit-scrollbar {
  width: 4px;
}

html:root::-webkit-scrollbar-thumb {
  background-color: #202224;
  border-radius: 4px;
}

html:root::-webkit-scrollbar-track {
  background: #000;
}
